PORT=3000
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=TU_PASSWORD_DE_POSTGRES
DB_NAME=supermarket_db

DB_CRYPTO_KEY=CAMBIAR_CLAVE_EN_PRODUCCION

OLLAMA_URL=http://localhost:11434/api/chat
OLLAMA_MODEL=llama3.2:1b
OLLAMA_TIMEOUT_MS=90000

BACKUP_DIR=backups
PG_DUMP_PATH=C:\Program Files\PostgreSQL\18\bin\pg_dump.exe
BACKUP_TIMEOUT_MS=180000